# ----------------------------------
# Archivos del sistema operativo
# ----------------------------------
.DS_Store           # macOS
Thumbs.db           # Windows
Desktop.ini         # Windows
*.swp               # Archivos temporales de Vim
~$*                 # Archivos temporales de Office

# ----------------------------------
# Entornos de desarrollo y IDEs
# ----------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ----------------------------------
# Dependencias y builds
# ----------------------------------
node_modules/
dist/
build/
out/
.next/              # Next.js
.nuxt/              # Nuxt.js
.cache/             # Parcel, Gatsby
vendor/             # PHP
bin/                # Java, .NET
obj/
*.exe
*.dll
*.pdb

# ----------------------------------
# Entornos virtuales y variables
# ----------------------------------
.env                # Variables de entorno
.env.local
.env.development
.env.test
.env.production
.venv/              # Entorno virtual Python
venv/
env/

# ----------------------------------
# Logs y bases de datos
# ----------------------------------
*.log
logs/
yarn-debug.log*
npm-debug.log*
*.sqlite
*.db

# ----------------------------------
# Testing y cobertura
# ----------------------------------
coverage/
.nyc_output/
*.lcov

# ----------------------------------
# Paquetes y gestores de dependencias
# ----------------------------------
*.tgz
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# ----------------------------------
# Sistemas específicos
# ----------------------------------
# Android
*.apk
*.ap_
*.dex
*.class

# iOS
*.ipa
*.xcuserstate
Pods/

# Ruby
*.gem
.bundle/

# Python
__pycache__/
*.pyc

# Java
*.class
*.jar

# -------------------------------
# Proyectos específicos
# -------------------------------
# Astro
.astro/

# React
.craco

# Vue
dist-ssr/

# Svelte
.svelte-kit/