@import 'tailwindcss';
@import 'tailwindcss-animated';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 24, 47%, 18%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 24, 47%, 18%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@theme {
  --font-rawline: 'rawline', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-fruity-sweet: #e20d30;
  --color-fruity-citrus: #f19301;
  --color-floral: #de0e82;
  --color-creole: #c7a06b;
  --color-cocoa: #683b1a;
  --color-wood: #3caa33;
  --color-spices: #f8dc38;

  --color-cocoa-dark: #39200f;
}

.bg-fruity-sweet {
  background: var(--color-fruity-sweet);
}

.bg-fruity-citrus {
  background: var(--color-fruity-citrus);
}

.bg-flower {
  background: var(--color-floral);
}

.bg-flowers {
  background: var(--color-floral);
}

.bg-creole {
  background: var(--color-creole);
}

.bg-cocoa {
  background: var(--color-cocoa);
}

.bg-wood {
  background: var(--color-wood);
}

.bg-spices {
  background: var(--color-spices);
}

.bg-cocoa-dark {
  background: var(--color-cocoa-dark);
}

.border-fruity-sweet {
  border-color: var(--color-fruity-sweet);
}

.border-fruity-citrus {
  border-color: var(--color-fruity-citrus);
}

.border-floral {
  border-color: var(--color-floral);
}

.border-creole {
  border-color: var(--color-creole);
}

.border-cocoa {
  border-color: var(--color-cocoa);
}

.border-wood {
  border-color: var(--color-wood);
}

.border-spices {
  border-color: var(--color-spices);
}

section.active {
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  position: fixed;
  left: 0px;
  margin: 20px;
  z-index: 5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-cocoa-dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.burger {
  width: 100%;
  z-index: 2;

  &::after,
  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -6px;
  }

  &::before {
    top: 6px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
}

.menu {
  height: 100vh;
  background-color: hsl(var(--primary));
  position: fixed;
  left: -100px;
  top: 0;
  color: white;
  z-index: 50;

  .body {
    box-sizing: border-box;
    height: 100%;
    /* width: 320px; */
    display: flex;
    flex-direction: column;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      gap: 0px;
      margin-top: 80px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }
  }
}

.svgCurve {
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  right: -99px;
  width: 100px;
  height: 100%;
  fill: hsl(var(--primary));
  stroke: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/* Definición de keyframes */
@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px))
      rotate(calc(var(--angle) * -1deg));
  }

  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

/* Clase para aplicar la animación */
.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

.navigation-menu-content {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.navigation-menu-content[data-motion='from-start'] {
  animation-name: slide-in-left;
}

.navigation-menu-content[data-motion='from-end'] {
  animation-name: slide-in-right;
}

.navigation-menu-content[data-motion='to-start'] {
  animation-name: slide-out-left;
}

.navigation-menu-content[data-motion='to-end'] {
  animation-name: slide-out-right;
}

.navigation-menu-viewport {
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.navigation-menu-viewport[data-state='open'] {
  animation-name: scale-in;
}

.navigation-menu-viewport[data-state='closed'] {
  animation-name: scale-out;
}

.navigation-menu-indicator[data-state='visible'] {
  animation: fade-in 200ms ease;
}

.navigation-menu-indicator[data-state='hidden'] {
  animation: fade-out 200ms ease;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.divide-y {
  :where(& > :not(:last-child)) {
      --tw-divide-y-reverse: 0;
      border-bottom-style: var(--tw-border-style);
      border-top-style: var(--tw-border-style);
      border-top-width: calc(1px * var(--tw-divide-y-reverse));
      border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  }
}
@property --tw-divide-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}
@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}