---
import { TimelineDemo } from "@/components/ui/timeline/TimelineDemo";
import BaseHead from '@/components/parts/BaseHead.astro';
---


<html lang="es">
  <head>
    <BaseHead title={"Historia | Intercacao Europe Bv"} description="Historia de Intercacao Europe Bv" keywords="" />
  </head>

  <body>
    <main class="font-rawline">
        <TimelineDemo client:only />
    </main>
  </body>
</html>
