---
import { Image } from 'astro:assets';

import logoYeih from '@/images/global/logo-yeih.webp';
import logoInterCacao from '@/images/global/logo-intercacao.webp';
---

<footer
  class="flex h-screen w-full flex-col items-center justify-center gap-5 bg-black px-50 py-50"
>
  <div class="size-50 flex-none rounded-lg">
    <Image
      width={1000}
      height={1000}
      loading="lazy"
      src={logoYeih}
      alt="global"
      class="rounded-lg object-fill object-center"
    />
  </div>

  <div
    class="flex size-70 flex-none flex-col items-center justify-center gap-2 rounded-lg text-white"
  >
    <p class="text-xs font-thin">distribuido por:</p>
    <Image
      width={200}
      height={200}
      loading="lazy"
      src={logoInterCacao}
      alt="global"
      class="rounded-lg object-fill object-center"
    />
    <p class="text-xs font-thin">Copyrights © 2025 Intercacao All right reserved.</p>
  </div>
</footer>
