---
import { Image } from 'astro:assets';

import logoYeih from '@/images/global/logo-yeih.webp';
import logoInterCacao from '@/images/global/logo-intercacao.webp';
---

<footer
  class="flex h-screen w-full flex-col items-center justify-center gap-10 md:gap-5 lg:gap-5 xl:gap-5 bg-black xl:p-50 lg:p-30 md:p-20 p-10"
>
  <div class="xl:size-50 lg:size-50 md:size-50 size-40 flex-none rounded-lg">
    <Image
      inferSize={true}
      loading="lazy"
      src={logoYeih}
      alt="global"
      class="rounded-lg object-fill object-center"
    />
  </div>

  <div
    class="flex xl:size-70 lg:size-70 md:size-70 size-50 flex-none flex-col items-center justify-center gap-2 rounded-lg text-white"
  >
    <p class="text-xs font-thin">distribuido por:</p>
    <Image
      inferSize={true}
      loading="lazy"
      src={logoInterCacao}
      alt="global"
      class="rounded-lg object-fill object-center"
    />
    <p class="text-xs font-thin">Copyrights © 2025 Intercacao All right reserved.</p>
  </div>
</footer>
