---
const { videoSrc } = Astro.props;
---

<video controls preload="metadata" playsinline muted class="mx-auto w-full max-w-4xl">
  <source src={videoSrc} type="video/mov" />
  <p>Tu navegador no soporta videos .mov. Descarga el <a href={videoSrc}>video aquí</a></p>
</video>
