---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import { CarouselImages } from '@/components/ui/carousel/Img';

import carousel1 from '@/images/chuao/carousel/01.jpg';
import carousel2 from '@/images/chuao/carousel/02.jpg';
import carousel3 from '@/images/chuao/carousel/03.jpg';
import carousel4 from '@/images/chuao/carousel/04.jpg';
import carousel5 from '@/images/chuao/carousel/05.jpg';
import carousel6 from '@/images/chuao/carousel/06.jpg';
import carousel7 from '@/images/chuao/carousel/07.jpg';
import carousel8 from '@/images/chuao/carousel/08.jpg';

type Props = CollectionEntry<'template'>['data'];

const { socialResponsibility } = Astro.props;
---

<section
  id="section-responsive"
  class="flex w-full flex-col gap-5 bg-neutral-100 px-5 py-10 md:px-30 lg:px-50 xl:px-50"
>
  <h1 class="text-4xl font-bold text-neutral-600 uppercase">
    {socialResponsibility?.title}
  </h1>
  
  <p class="text-lg">
    {socialResponsibility?.paragraphs}
  </p>

  <div class="flex items-center justify-center gap-5 py-10">
    <div
      class="flex w-full flex-none flex-col items-center justify-center gap-20 rounded-lg md:w-110 lg:w-110 xl:w-110"
    >
      {
        <Image
          inferSize={true}
          loading="eager"
          src={ socialResponsibility?.images?.[0].src}
          alt={ socialResponsibility?.images?.[0].alt}
          class="rounded-lg object-fill object-center"
        />
      }
    </div>
  </div>

  <div class="relative w-full grow overflow-hidden">
    <CarouselImages client:only="react" images={
      [{
        src: carousel1.src,
        alt: '',
      },
      {
        src: carousel2.src,
        alt: '',
      },
      {
        src: carousel3.src,
        alt: '',
      },
      {
        src: carousel4.src,
        alt: '',
      },
      {
        src: carousel5.src,
        alt: '',
      },
      {
        src: carousel6.src,
        alt: '',
      },
      {
        src: carousel7.src,
        alt: '',
      },
      {
        src: carousel8.src,
        alt: '',
      },
      ]}
    />
  </div>

  <div class="flex items-center justify-center gap-5 py-10">
    <div
      class="flex w-full flex-none flex-col items-center justify-center gap-20 rounded-lg md:w-110 lg:w-110 xl:w-110"
    >
      {
        <Image
          inferSize={true}
          loading="eager"
          src={ socialResponsibility?.images?.[1].src}
          alt={ socialResponsibility?.images?.[1].alt}
          class="rounded-lg object-fill object-center"
        />
      }
    </div>
  </div>
</section>
